Date: 19-October-2025

## Instructor: Ambreen Abdul Raheem
### Professional Power BI Data Analyst And AI Agent Developer (Upwork Freelancer)

#### Topic: Python Tuple

In [2]:
# Creating Tuples
tuple1 = tuple(["apple", "banana", "cherry"])  # Convert list to tuple
tuple2 = (10, 20, 30)                          # Direct tuple creation
mixed_tuple = ("hello", 42, 3.14, True)        # Different data types
print(tuple1)
print(tuple2)
print(mixed_tuple)

('apple', 'banana', 'cherry')
(10, 20, 30)
('hello', 42, 3.14, True)

In [4]:
# Tuple Identity and Immutability
tuple_1 = (10, 20, 30)
tuple_2 = (10, 20, 30)

print("id(tuple_1) =", id(tuple_1))
print("id(tuple_2) =", id(tuple_2))
print("tuple_1 == tuple_2 =", tuple_1 == tuple_2)

# Accessing Elements
print("tuple1[0] =", tuple1[0])  # Access the first element

id(tuple_1) = 132745212139008
id(tuple_2) = 132745213642752
tuple_1 == tuple_2 = True
tuple1[0] = apple

In [5]:
# Tuple Slicing
print("tuple2[1:] =", tuple2[1:])  # Slice from index 1 to the end

tuple2[1:] = (20, 30)

In [6]:
#  Finding Tuple Length
print("Length of tuple1:", len(tuple1))

Length of tuple1: 3

In [7]:
#  Iterating Through a Tuple
print("Iterating through tuple2:")
for item in tuple2:
    print(item)

Iterating through tuple2:
10
20
30

In [8]:
#  Checking if an Element Exists
print("Is 20 in tuple2?", 20 in tuple2)

Is 20 in tuple2? True

In [9]:
# Concatenating Tuples
tuple3: tuple = tuple1 + tuple2
print("tuple1 + tuple2 =", tuple3)

tuple1 + tuple2 = ('apple', 'banana', 'cherry', 10, 20, 30)

In [10]:
# Repeating Tuples
tuple4: tuple = tuple2 * 2
print("tuple2 * 2 =", tuple4)

tuple2 * 2 = (10, 20, 30, 10, 20, 30)

In [12]:
#  Nested Tuples
nested_tuple = (tuple1, tuple2)
print("nested_tuple =", nested_tuple)

nested_tuple = (('apple', 'banana', 'cherry'), (10, 20, 30))

In [13]:
# Unpacking Tuples
a, b, c = tuple1
print("Unpacking tuple1:", a, b, c)

Unpacking tuple1: apple banana cherry

In [14]:
# Using Tuples as Dictionary Keys
my_dict = {tuple1: "This is a tuple key", tuple2: "Another tuple key"}
print("Dictionary with tuple keys:", my_dict)

Dictionary with tuple keys: {('apple', 'banana', 'cherry'): 'This is a tuple key', (10, 20, 30): 'Another tuple key'}

In [15]:
# ⚠️ Attempting to Modify a Tuple
# tuple1[0] = "watermelon"  # ❌ This will cause an error / Uncomment to test.