Date: 23-October-2025

## Instructor: Ambreen Abdul Raheem
### Professional Power BI Data Analyst And AI Agent Developer (Upwork Freelancer)
#### Topic: Python Dictionary

In [1]:
# Creating a dictionary with personal details
person = {
    "name": "Robbert",
    "age": 25,
    "visited_cities": ["New York", "Los Angeles", "Chicago"]
}
print(person)

{'name': 'Robbert', 'age': 25, 'visited_cities': ['New York', 'Los Angeles', 'Chicago']}

In [2]:
# datatype
my_dict = dict(name="John", age=36, country="Norway")
print(type(my_dict), "-", my_dict)

<class 'dict'> - {'name': 'John', 'age': 36, 'country': 'Norway'}

In [4]:
# Accessing Dictionary Items
print(person["name"])
print(person.get("age"))

Robbert
25

In [5]:
# Modifying a Dictionary
person["age"] = 26
person["city"] = "San Francisco"
print(person)

{'name': 'Robbert', 'age': 26, 'visited_cities': ['New York', 'Los Angeles', 'Chicago'], 'city': 'San Francisco'}

In [6]:
# Deleting Items
# Remove specific key
del person["city"]

# Remove and return a value
age = person.pop("age")
print("Removed age:", age)

# Remove all items
person.clear()

Removed age: 26

In [7]:
# Creating dictionary
student = {"name": "Ali", "age": 22, "grade": "A"}

print(student.keys())     # dict_keys(['name', 'age', 'grade'])
print(student.values())   # dict_values(['Ali', 22, 'A'])
print(student.items())    # dict_items([('name', 'Ali'), ('age', 22), ('grade', 'A')])

dict_keys(['name', 'age', 'grade'])
dict_values(['Ali', 22, 'A'])
dict_items([('name', 'Ali'), ('age', 22), ('grade', 'A')])

In [8]:
# Looping Through a Dictionary
for key in student:
    print(key, ":", student[key])

# Or
for key, value in student.items():
    print(f"{key} → {value}")

name : Ali
age : 22
grade : A
name → Ali
age → 22
grade → A

In [11]:
myfamily = {
    "child1": {"name": "Aisha", "age": 10},
    "child2": {"name": "Bilal", "age": 8}
}

for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Aisha
age: 10
child2
name: Bilal
age: 8

In [15]:
# New dictionary

myfamily = {
  "child1": {"name": "Emil", "year": 2004},
  "child2": {"name": "Tobias", "year": 2007},
  "child3": {"name": "Linus", "year": 2011}
}
# The second definition of myfamily is removed as it was causing the NameError

# Now you can access the nested dictionaries like this:
child1 = myfamily["child1"]
child2 = myfamily["child2"]
child3 = myfamily["child3"]

print("My first child:",child1)
print("My second child:",child2)
print("My third child:",child3)

My first child: {'name': 'Emil', 'year': 2004}
My second child: {'name': 'Tobias', 'year': 2007}
My third child: {'name': 'Linus', 'year': 2011}

In [16]:
# Method 1: Using the copy() Method
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [17]:
# Method 2: Using the dict() Constructor
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [19]:
import copy
mydict = copy.deepcopy(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [20]:
# Example 1: Building a Phonebook
# Create a phonebook
phonebook: dict = {
    "Abid": "123-456-7890",
    "Bbilal": "987-654-3210",
    "Chaudry": "555-555-5555",
    "Daniyal": "458-582-9999"
}

# Add a new contact
phonebook["Ehsan"] = "022-525-6444"

# Search for a contact
name: str = input("Enter a name to search: ")
if name in phonebook:
    print(f"{name}'s phone number is {phonebook[name]}.")
else:
    print(f"{name} is not in the phonebook.")

Enter a name to search: Abid
Abid's phone number is 123-456-7890.

In [21]:
# Create a phonebook
phonebook: dict = {
    "Abid": "123-456-7890",
    "Bbilal": "987-654-3210",
    "Chaudry": "555-555-5555",
    "Daniyal": "458-582-9999"
}

# Add a new contact
phonebook["Ehsan"] = "022-525-6444"

# Search for a contact
name: str = input("Enter a name to search: ")
if name in phonebook:
    print(f"{name}'s phone number is {phonebook[name]}.")
else:
    print(f"{name} is not in the phonebook.")

Enter a name to search: Qasim
Qasim is not in the phonebook.

In [22]:
#  Example 2: Doubling Dictionary Values
original_dict = {'a': 1, 'b': 2, 'c': 3}
print("original_dict =", original_dict)

doubled_dict = {k: v * 2 for k, v in original_dict.items()}
print("doubled_dict  =", doubled_dict)

original_dict = {'a': 1, 'b': 2, 'c': 3}
doubled_dict  = {'a': 2, 'b': 4, 'c': 6}

In [23]:
celsius_temps = [0, 10, 20, 30, 40]

fahrenheit_temps = {str(c) + "c": str((c * 9/5) + 32) + "f" for c in celsius_temps}
print(fahrenheit_temps)

{'0c': '32.0f', '10c': '50.0f', '20c': '68.0f', '30c': '86.0f', '40c': '104.0f'}