Date: 19-October-2025
## Instructor: Ambreen Abdul Raheem
### Professional Power BI Data Analyst And AI Agent Developer (Upwork Freelancer)

#### Topic: 01. Python List

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# Allow Duplicates
fruits = ["apple", "banana", "cherry", "apple", "cherry"]
print(fruits)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
# List Length
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [ ]:
# List Items – Data Types
list1 = ["apple", "banana", "cherry"]      # String list
list2 = [1, 5, 7, 9, 3]                   # Integer list
list3 = [True, False, False]             # Boolean list
list4 = ["hello", 25, True, 5.6]         # Mixed list (You can even mix different data types in a single list)
print("Fruits:",list1)
print("Numbers:",list2)
print("Booleans:",list3)
print("Mixed:", list4)

Fruits: ['apple', 'banana', 'cherry']
Numbers: [1, 5, 7, 9, 3]
Booleans: [True, False, False]
Mixed: ['hello', 25, True, 5.6]

In [ ]:
# Accessing List Elements
fruits = ["apple", "banana", "cherry"]
print(fruits[0])    # Output: apple  → first element
print(fruits[-3])   # Output: apple  → accessed from the end

apple
apple

In [ ]:
# Modifying Lists
fruits = ["apple", "banana", "cherry"]
fruits[-3] = "watermelon"   # Replace "apple" with "watermelon"
print("I modify my List of fruits:", fruits)

students = ["Faiza", "Ahmed", "Ali"]
students[-2] = "Ambreen"      # Replace "Ahmed" with "Ambreen"
print("I modify my List of students:",students)

I modify my List of fruits: ['watermelon', 'banana', 'cherry']
I modify my List of students: ['Faiza', 'Ambreen', 'Ali']

#### 02. Common List Methods

In [8]:
# Appending and Extending Lists
fruits = ["watermelon", "banana", "cherry"]

fruits.append("mango")  # Adds a single item to the end
print("Adds a single item to the end:", fruits)

students = ["Faiza", "Ahmed", "Ali"]

students.append("Usman")
print("Adds a single item to the end:", students)

Adds a single item to the end: ['watermelon', 'banana', 'cherry', 'mango']
Adds a single item to the end: ['Faiza', 'Ahmed', 'Ali', 'Usman']

In [9]:
# Expend: To add multiple elements at once, use extend():

fruits.extend(["grape", "kiwi"])
print("I extend two more fruits:", fruits)

students.extend(["Fazal", "Raheem"])
print("I extend two more students name:", students)

I extend two more fruits: ['watermelon', 'banana', 'cherry', 'mango', 'grape', 'kiwi']
I extend two more students name: ['Faiza', 'Ahmed', 'Ali', 'Usman', 'Fazal', 'Raheem']

In [11]:
# Join Two Lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

# Append (means join) list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [25]:
# Removing Elements
fruits = ['watermelon', 'banana', 'cherry', 'mango', 'grape', 'kiwi']
fruits.remove("banana")  # Removes 'banana' from the list
print("I deleted 'banana' from the fruits list", fruits)

students = ['Faiza', 'Ambreen', 'Ali','Fiza Ali']
students.remove("Ambreen")
print("I deleted 'Ambreen' from the students list", students)

I deleted 'banana' from the fruits list ['watermelon', 'cherry', 'mango', 'grape', 'kiwi']
I deleted 'Ambreen' from the students list ['Faiza', 'Ali', 'Fiza Ali']

In [26]:
# pop() Method

deleted = fruits.pop(1)  # Removes the element at index 1
print("Deleted element:", deleted)
print("I deleted one item (cherry) from the list of fruits with 'pop() method'", fruits)

deleted = students.pop(2)  # Removes the element at index 1
print("Deleted element:", deleted)
print("I deleted one item (Fiza Ali) from the list of students with 'pop() method'", students)

Deleted element: cherry
I deleted one item (cherry) from the list of fruits with 'pop() method' ['watermelon', 'mango', 'grape', 'kiwi']
Deleted element: Fiza Ali
I deleted one item (Fiza Ali) from the list of students with 'pop() method' ['Faiza', 'Ali']

In [31]:
# Sorting a List /  Default Sorting (Ascending Order) or Descending Order (reverse=True)
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print("I sort a number of list in ascending order:", numbers)

numbers = [4, 2, 9, 1]
numbers.sort(reverse=True)
print("I sort a number of list in descending order:", numbers)

numbers = [1, 2, 5, 7, 10]
numbers.reverse()
print("Reverse the list of numbers:", numbers)

I sort a number of list in ascending order: [1, 1, 3, 4, 5, 9]
I sort a number of list in descending order: [9, 4, 2, 1]
Reverse the list of numbers: [10, 7, 5, 2, 1]

In [29]:
 # Sort by String Length (key=len)
words = ["apple", "kiwi", "banana"]
words.sort(key=len)
print("I sort the list of fruits name by string length:", words)

# Sort by Last Character
words = ["apple", "kiwi", "banana"]
words.sort(key=lambda word: word[-1])
print("I sort the list of fruits name by string length in descending order:", words)

I sort the list of fruits name by string length: ['kiwi', 'apple', 'banana']
I sort the list of fruits name by string length in descending order: ['banana', 'apple', 'kiwi']

### Python - Loop Lists

In [38]:
 # Iterating Over Lists
toys = ["car", "doll", "ball"]
for toy in toys:
    print("I picked my",toy)

fruits = ["I like to eat apple", "I like to eat banana", "I like to eat cherry"]
for x in fruits:
  print("Yes,",x)

I picked my car
I picked my doll
I picked my ball
Yes, I like to eat apple
Yes, I like to eat banana
Yes, I like to eat cherry

In [39]:
# Loop Using Index Numbers
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

In [40]:
# Using a While Loop
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
banana
cherry

In [42]:
# List Comprehension / Without List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [44]:
# With List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [45]:
# Short Hand For Loop
fruits = ["apple", "banana", "cherry"]
[print(x) for x in fruits]

apple
banana
cherry

[None, None, None]

#### Copying a List in Python

In [50]:
# Example # 01
list1 = ["apple", "banana", "cherry"]
list2 = list1
print(list2)

['apple', 'banana', 'cherry']

In [51]:
# Example # 02
fruits = ["apple", "banana", "cherry"]
mylist = fruits.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [52]:
# Example # 03
fruits = ["apple", "banana", "cherry"]
mylist = list(fruits)
print(mylist)

['apple', 'banana', 'cherry']