Date:28-September-2025

## Instructor: Ambreen Abdul Raheem
### Professional Power BI Data Analyst And AI Agent Developer (Upwork Freelancer)

#### Topic: String

In [3]:
# Storing strring in variables
name = 'ambreen'
greetings = "Hello"
print(greetings,name)

Hello ambreen

In [4]:
# Quotes Inside Quotes
print("It's my car.")
print("I am working with 'Ahmed'.")
print('"Tehreem" is my friend.')

It's my car.
I am working with 'Ahmed'.
"Tehreem" is my friend.

In [6]:
# Multiline Strings
# Double Quotes
intro = """Hi, this is ambreen.
I am teaching Python from the basic to the advanced level.
I am a Data Analyst."""
print(intro)

# single Quotes
intro = '''Hi, this is ambreen.
I am teaching Python from the basic to the advanced level.
I am a Data Analyst.'''
print(intro)

Hi, this is ambreen.
I am teaching Python from the basic to the advanced level.
I am a Data Analyst.
Hi, this is ambreen.
I am teaching Python from the basic to the advanced level.
I am a Data Analyst.

In [10]:
# F-Strings in Python
# Example 01
age = 36
txt = f"My name is John, I am {age}"
print(txt)
# Example 02
price = 59
txt = f"The price is {price} dollars"
print(txt)
# Example 03
txt = f"The price is {20 * 59} dollars"
print(txt)

My name is John, I am 36
The price is 59 dollars
The price is 1180 dollars