Date: 25-January-2026

### Instructor: Ambreen Abdul Raheem
#### Professional Power BI Data Analyst And AI Agent Developer (Upwork Freelancer)
#### Lops in Python
#### Topic: for, while & nested loop

Python Tutor: https://pythontutor.com/

**For understanding use Python Tutor: "A best site to understand how python loop works step by step"**

**All examples for practice:**

In [1]:
# List
girls = ["Shina", "Fariya", "Abida"]
for x in girls:
    print(x)

apple
banana
cherry

In [3]:
# Tuple
vegetables= ("garlic", "onion", "carrot")
for x in vegetables:
    print(x)

garlic
onion
carrot

In [4]:
# Letters of Strings
s = "PythonEdge Pro"
for x in s:
    print(x)

P
y
t
h
o
n
E
d
g
e

P
r
o

In [5]:
# Dictionary
d = dict({'Mariya':89, 'Daniyal':54,'Ahmed': 77})
for x in d:
    print("%s  %d" % (x, d[x]))

Mariya  89
Daniyal  54
Ahmed  77

In [6]:
# Set
set = {10, 30, 20}
for x in set:
    print(x),

10
20
30

**range() in loop**

In [7]:
# Example # 01- range(5) will count from 0, 1, 2, 3, 4
print("Using range(5):")
for num in range(5):
    print(num)

Using range(5):
0
1
2
3
4

In [8]:
# Example: 02- Multiplication Table

N = int(input("Enter the number for which you want the multiplication table: "))
print(f"\nMultiplication Table for {N}:")
for i in range(1, 11): # Loop from 1 to 10 (inclusive)
    product = N * i
    print(f"{N} x {i} = {product}")
else:
    print("Enter your number in integer")

Enter the number for which you want the multiplication table: 5

Multiplication Table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Enter your number in integer

In [9]:
# Example: 03- Multiplication Table

N = int(input("Enter the number for which you want the multiplication table: "))
print(f"\nMultiplication Table for {N}:")
for i in range(1, 11): # Loop from 1 to 10 (inclusive)
    product = N * i
    print(f"{N} x {i} = {product}")
else:
    print("Enter your number in integer")

Enter the number for which you want the multiplication table: 55

Multiplication Table for 55:
55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550
Enter your number in integer

In [10]:
# Example: 03.a- range(0, 10, 2) will count from 0, 2, 4, 6, 8
print("\nUsing range(0, 10, 2):")
for num in range(0, 10, 2):
    print(num)

Using range(0, 10, 2):
0
2
4
6
8

In [11]:
# Example: 03.b- range(5, 0, -1) will count backwards from 5, 4, 3, 2, 1
print("\nUsing range(5, 0, -1) (counting backwards):")
for num in range(5, 0, -1):
    print(num)

Using range(5, 0, -1) (counting backwards):
5
4
3
2
1

**The break Statement**

In [12]:
# Example: Using 'break' to stop a loop when a condition is met
print("Counting from 1 to 10, but stopping at 5:")
for i in range(1, 11):
    if i == 5:
        print(f"Found {i}! Breaking the loop.")
        break # Exit the loop when i is 5
    print(i)

print("Loop finished.")

Counting from 1 to 10, but stopping at 5:
1
2
3
4
Found 5! Breaking the loop.
Loop finished.

In [13]:
fruits = ["apple", "banana", "cherry", "date", "fig"]
search_item = "cherry"
found = False

print(f"Searching for '{search_item}' in the list: {fruits}")
for fruit in fruits:
    print(f"Checking: {fruit}")
    if fruit == search_item:
        print(f"Found '{search_item}'! Stopping the search.")
        found = True
        break

if found:
    print("Search successful.")
else:
    print("Item not found.")

Searching for 'cherry' in the list: ['apple', 'banana', 'cherry', 'date', 'fig']
Checking: apple
Checking: banana
Checking: cherry
Found 'cherry'! Stopping the search.
Search successful.

In [14]:
# Exit the loop when x is "banana":

fruits = ["apple","apricot", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
apricot
banana

In [15]:
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "apricot", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple
apricot

**The continue Statement**

In [17]:
# Example: Using 'continue' to skip printing the number 5
print("Counting from 1 to 10, but skipping 5:")
for i in range(1, 11):
    if i == 5:
        continue # Skip the rest of the current iteration when i is 5
    print(i)

print("Loop finished.")

Counting from 1 to 10, but skipping 5:
1
2
3
4
6
7
8
9
10
Loop finished.

In [18]:
# Example: Using 'continue' to print only even numbers
print("Printing only even numbers from 1 to 10:")
for i in range(1, 11):
    if i % 2 != 0: # If i is odd
        continue # Skip to the next iteration
    print(i)

print("Loop finished.")

Printing only even numbers from 1 to 10:
2
4
6
8
10
Loop finished.

In [19]:
# Example Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

**while Loop**

In [20]:
# Example of a while loop

count = 0
while count < 5:
    print(f"The count is: {count}")
    count += 1 # Increment count to eventually make the condition false

print("Loop finished.")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
Loop finished.

In [21]:
# Example of 'break' in a while loop

num = 0
while num < 10:
    if num == 5:
        print(f"Breaking the loop when num is {num}")
        break  # Exit the loop
    print(f"Current number: {num}")
    num += 1

print("Loop terminated by break.")

Current number: 0
Current number: 1
Current number: 2
Current number: 3
Current number: 4
Breaking the loop when num is 5
Loop terminated by break.

In [22]:
# Example of 'continue' in a while loop

i = 0
while i < 5:
    i += 1  # Increment i first to avoid infinite loop if continue is the first statement
    if i == 3:
        print(f"Skipping iteration when i is {i}")
        continue  # Skip the rest of this iteration
    print(f"Current value of i: {i}")

print("Loop finished using continue.")

Current value of i: 1
Current value of i: 2
Skipping iteration when i is 3
Current value of i: 4
Current value of i: 5
Loop finished using continue.

**Nested Loop**

In [23]:
# Example of nested while loops for a multiplication table

i = 1
while i <= 3:  # Outer loop for rows
    j = 1
    while j <= 3:  # Inner loop for columns
        product = i * j
        print(f"{i} * {j} = {product}\t", end='') # \t for tab spacing
        j += 1
    print() # Newline after each row
    i += 1

print("Multiplication table complete.")

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9
Multiplication table complete.

In [24]:
# Example of nested loops with a list of dictionaries

students = [
    {"name": "Alice", "grades": {"math": 90, "science": 85}},
    {"name": "Bob", "grades": {"math": 78, "science": 92}},
    {"name": "Charlie", "grades": {"math": 95, "science": 88}}
]

print("Student Grades:")
for student in students:  # Outer loop iterates through each student dictionary in the list
    student_name = student["name"]
    print(f"  {student_name}:")
    for subject, grade in student["grades"].items():  # Inner loop iterates through subjects and grades in each student's 'grades' dictionary
        print(f"    - {subject.capitalize()}: {grade}")

Student Grades:
  Alice:
    - Math: 90
    - Science: 85
  Bob:
    - Math: 78
    - Science: 92
  Charlie:
    - Math: 95
    - Science: 88

In [25]:
# Example of a simple nested loop with a list of dictionaries

categories = [
    {"name": "Fruits", "items": ["Apple", "Banana", "Orange"]},
    {"name": "Vegetables", "items": ["Carrot", "Spinach", "Broccoli"]}
]

print("Listing categories and their items:")
for category in categories:  # Outer loop iterates through each category dictionary
    category_name = category["name"]
    print(f"Category: {category_name}")
    for item in category["items"]:  # Inner loop iterates through the list of items for the current category
        print(f"  - {item}")

Listing categories and their items:
Category: Fruits
  - Apple
  - Banana
  - Orange
Category: Vegetables
  - Carrot
  - Spinach
  - Broccoli