## INSTRUCTOR: AMBREEN ABDUL RAHEEM
## COURSE: PythonEge Pro
## Topic: Operators
## Exercise # 01-(For practice):

#### PEMDAS: The PEMDAS rule gives us the correct sequence for solving a mathematical expression. In the PEMDAS rule, operations are performd in parenthesis first. Next operations are performed on exponents or powers. This is followed by the operations of multiplication or division from left to right, whichever comes first.

### PEMDAS:
- P - Parenthesis, ()
- E - Exponents, A2
- M - Multiplication, *
- D - Division, /
- A - Addition, +
- S - Subtraction, -

In any question first solve () then A2 square then X and / devide, after that + and -

### 1. Arithmetic Operators

In [ ]:
x = 45
y = 98
z = 100
average = (x + y + z) / 3
print(average)

81.0

In [ ]:
a = 58
b = 96
c = 100
add= (a + b + c)
print(add)

254

In [ ]:
e = 88
f = 99
g = 10
sub = (e - f - g)
print(sub)

-21

In [ ]:
o = 88
p = 99
q = 1000
mul = (o * p + q)
print(mul)

9712

In [ ]:
m = 980
n = 99
o = 20
div = (m / n + o)
print(div)

29.8989898989899

In [ ]:
s = 532
t = 98
u = 33
mod = (s % t + u)
print(mod)

75

In [ ]:
a = 10
b = 3

print(a + b)  # Addition → 13
print(a - b)  # Subtraction → 7
print(a * b)  # Multiplication → 30
print(a / b)  # Division → 3.333...
print(a // b) # Floor Division → 3
print(a % b)  # Modulus (Remainder) → 1
print(a ** b) # Exponentiation → 1000

13
7
30
3.3333333333333335
3
1
1000

### 2. Comparison Operators

In [ ]:
x = 5
y = 10

print(x == y)  # Equal → False
print(x != y)  # Not Equal → True
print(x > y)   # Greater → False
print(x < y)   # Less → True
print(x >= 5)  # Greater or Equal → True
print(y <= 10) # Less or Equal → True

False
True
False
True
True
True

### 3. Logical Operators

In [ ]:
p = True
q = False

print(p and q)  # AND → False
print(p or q)   # OR → True
print(not p)    # NOT → False

False
True
False

4. Assignment Operators

In [ ]:
num = 10

num += 5  # num = num + 5 → 15
num -= 3  # num = num - 3 → 12
num *= 2  # num = num * 2 → 24
num /= 4  # num = num / 4 → 6.0
num %= 5  # num = num % 5 → 1.0

### 5. Membership Operators

In [ ]:
fruits = ["apple", "banana", "cherry"]

print("apple" in fruits)   # True
print("mango" not in fruits)  # True

True
True

### 6. Identity Operators

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)   # True (same object in memory)
print(a is c)   # False (values same but objects different)
print(a is not c) # True

True
False
True